body{
}

nav{
	color:white;
}
nav a {
	color:white;
}

.bg-black{
	background: #000;
}

.ttn-logo{
	color:white;
	margin-left:20px;
}

.page-header{
	padding:10px 10px;
}

.bg-grey{
	background: white;
}

.txt{
	box-sizing: border-box;
	padding:15px;
	margin-top:30px;
	font-size:1.2em;
}

.heading{
	font-size:1.3rem;
	margin-top:20px;
	margin-left:15px;
	padding-bottom:8px;
	border-bottom: 1px solid white;
}

.gallery{
	margin-top:30px;
}

.gallery img{
	width: 100%;
}

footer{
	margin-top:20px;
	color:white;
	padding:15px 0px;
	font-size:1.2rem;
}

ul.list li{
	display: inline;
}


@media screen and (max-width:700px){
}
© 2020 GitHub, Inc.