*{
    padding: 0px;
    margin: 0px;
}
body{
background-color: #323232;
}

#div4{
    margin:auto;
    width: 1200px;
}
#div1{
    margin: auto;
    padding:10px;
    width: 960px;
}
a{
    text-decoration: none;
    color: white;
}
nav{
    padding:10px;
    background-color: #222222;
}
#div2{
    
    background-color: white;
    padding: 30px 50px 30px 50px;
    
}
#div3{
    background-color: #323232;
    height: 360px;
    width: 960px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div3 p{
    color: white;
   
}
#div5{
    width: 960px;
    background-color: lightgray;
    margin: auto;
    
}
#div5 p{

    margin:20px;
}
#div6 p{
    color: darkgray;
    font-weight: bold;
    width: 960px;
    margin: auto;
    border-bottom: 1px solid darkgray;
}
#div7{
    height: 360px;
    width: 960px;
    margin: auto;
}

#flex-container{
    width:960px;
    height:325px;
    margin:auto;
    display: flex;
    margin-top: 12px;
}
.view{
    border: 1px solid grey;
    width:215px;
    height: 315px;
    color: white;
    padding: 5px;
    margin-right: 15px;
}
.view1{
    width: 215px;
    height: 296px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
}
#view-p{
    background-color: gray;
    width: 215px;
    
}
#page-footer{
    background-color: #222222;
}
#container{
    width: 960px;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
	
