@page "/blazorserverside"
<h3 style="color:blue">Blazor Server Side</h3>
<br />
<p style="color:palevioletred">
    In blazor servide side blazor app is 
    <br />
    executed on the server. Event handling 
    <br />
    and all the task are handled by the signal r connection.
    <br />
    It creates the signal R endpoint where the
    <br />
    client can connect.
    <br /> 
</p>

@code {

}
