@page "/blazorclientside"
<h3 style="color:blue">Blazor Client Side</h3>
<br />
<p style="color:palevioletred">
    Blazor is a framework designed to run the
    <br />
    client side in the browser on a web assembly
    <br />
    based model that .net runtime provides.
    <br />
    All the dependencies and the runtime is
    <br />
    downloaded in the browser.The app is directly
    <br />
    executed on the browser without using server communication.
    <br /> 
</p>

