@page "/razorcomponent"
<h3 style="color:blue">Razor Component</h3> 
<br />
<p style="color:palevioletred">
    Blazor app are build using components.
    <br />
    Components are implemented in razor 
    <br />
    component files using a combination of C# and HTML.
    <br />
    Component name must always start with
    <br />
    the upperCase letter. members of the component
    <br />
    class are defined under the function section.
    <br />
    We can include the one component into the other.
    <br /> 
</p>
<br /> 
<h4 style="color:blue">Component Parameter</h4>
<br />
<p style="color:palevioletred">
    If we want to share data between
    <br />
    child and parent componet then we
    <br />
    will use the component parameter.
    <br /> 
</p>

