@page "/signalrConnection"
<h3 style="color:blue">Signal R Connection</h3> 
<br />
<p style="color:palevioletred">
    The signal R connection is established between 
    <br />
    the server and the client browser in the blazor server.
    <br />
    When the event occured then the request 
    <br />
    is taken by signal r connnection only.
    <br />
    In return instead of uploading the whole
    <br />
    page it only returns the change in Ui as response.
    <br />
    Reloading does not takes place every time. 
    <br /> 
</p>