@page "/webassembly"
<h3 style="color:blue">Web Assembly</h3> 
<br />
<p style="color:palevioletred">
    Blazor WebAssembly is for the clent side only.
    <br />
    Once it is downloaded on the windows then 
    <br />
    it does not need any action connection from the server.
    <br />
    In web assembly client resources and capabilities are used.
    <br />
    We can host our web assembly project on azure or on cdn.
    <br />
    Full blown asp.net core server is not required.
    <br /> 
</p>