
@{
    ViewBag.Title = "Filters";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="container  pt-3  p-3 my-3 bg-dark text-white"> 
            <h3>Filters:</h3>
            <br />
            <p>
                Filters are the attributes which
                <br />
                are used to perform some logic
                <br />
                before or after the action methods.
                <br />
                Filters can be used on action methods,
                <br />
                controller level and globally also.
                <br /> 
            </p>
            <br />
            <p>
                There are various Types filters like: 
                <br />
                # Authentication Filter
                <br />
                # Authorization Filter
                <br />
                # Action Filter
                <br />
                # Result Filter
                <br />
                #Exception Filter 
                <br />
            </p>
            <br />
            <p>
                There are various Types of predefined filters like:
                <br />
                # OutputCache
                <br />
                # Authorize 
                <br />
                # Handle Error
                <br />
                # Validate Input
                <br /> 
            </p>

        </div>
    </div>
</body>
</html>
