
@{
    ViewBag.Title = "ViewModel";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!Doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="container pt-3  p-3 my-3 bg-dark text-white"> 
            <h3>VIEW MODEL</h3>
            <br />
            <p>
                A view model represents the data that 
                <br />
                you want to display on your view/page,
                <br />
                whether it be used for static text or 
                <br />
                for input values (like textboxes and dropdown lists)
                <br />
                that can be added to the database (or edited).
                <br />
                It is something different than your domain model. 
                <br />
                It is a model for the view.
                <br /> 
            </p>
            <br />
            <h3>USE OF VIEW MODEL:</h3>
            <br />
            <p>
                View model is also called as
                <br />
                custom view model and it is
                <br />
                very different from domain view model.
                <br />
                View model is used to show only those
                <br />
                properties of models that we want to
                <br />
                show on our view.View model does not
                <br />
                directly hit the domain model.
                <br />

            </p>
        </div>
    </div>
</body>
</html>
