
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChildAction</title>
</head>
<body>
    <div class="container-fluid"> 
        <div class="container  pt-3 p-3 my-3 bg-light text-dark"> 
            <h2>I AM A CHILD ACTION METHOD SO
            <br />
            I HAVE BEEN CALLED THROUGH A PARENT
            <br />
            ACTION METHOD.</h2>
            <br /> 
        </div>
    </div>
</body>
</html>
