
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<!Doctype html>
<html>
<head>
    <title>Home Page</title>
    @Styles.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container-fluid">
        <div class="container  pt-3 p-3 my-3 bg-light text-dark"> 
            <h1>Home</h1>
            <p>
                This is the home page
                In order to proceed click
                on the navlink "Questions".
            </p>
        </div>
    </div>
</body>
</html>

