
@{
Layout = null;         
    // see here layout is null still while rendering this page you will see a layout. 
} 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
</head>
<body>
    <div class="container-fluid"> 
        <div class="container container  pt-3 p-3 my-3 bg-light text-dark"> 
            <h1>I AM A LAYOUT FROM CONTROLLER</h1>
            <br />
            <h1>IN OTHER RAZOR PAGES THE LAYOUT IS SET IN RAZOR TAGS
            <br />
            BY DIRECTLY GIVING THE PATH "~Views/Shared/_LayoutPage.cshtml". 
            </h1>
            <br />
            <h1>FOR GLOBAL LAYOUT CREATE _VIEWSTARTFILE</h1> 
            <br />
        </div>
    </div>
</body>
</html>
