
@{
    ViewBag.Title = "NonAction";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!Doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="container  pt-3 p-3 my-3 bg-light text-dark"> 
            <h1>I AM A NON ACTION METHOAD AND 
            <br /> 
            CANNOT BE INVOKED BY URL REQUEST</h1> 
        </div>
    </div>
</body>
</html>
