@page "/AboutAssignment"
<h2 style="color:blue">About Assignment</h2>
<br />
<p style="color:palevioletred">1. Creat login Page and validating "username" and "password" from the database.</p>
<br />
<p style="color:palevioletred">2. Bind the "side nav menu component" and Link data and page data should come from the database</p>
<br />
<p style="color:palevioletred">3. Create the Student registration page and achieve the following functionality:</p>
<p style="color:palevioletred">1. List of the student.</p>
<p style="color:palevioletred">2. Add student.</p>
<p style="color:palevioletred">3. Delete Student. </p>
<p style="color:palevioletred">4. Edit Student.</p> 




@code {

}
