@page "/home"
<h2 style="color:blue">Home Page</h2> 
<br />
<p style="color:rebeccapurple">This Application has two sections:</p>
<br />
<p style="color:orange">1. Admin Section</p>
<br />
<p style="color:orange">2. Student Section</p> 

@code {

}
