
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<!Doctype html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div class="container-fluid">
        <div class="container  pt-3 p-3 my-3 bg-light text-danger"> 
            <h1>Home</h1>
            <p>
                This is the home page 
                In order to proceed click 
                on the navlink "Questions". 
            </p>
        </div>
    </div>
</body>
</html>
