
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<!Doctype html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div class="container  pt-3  p-3 my-3 bg-dark text-white">
            <h2>ERROR!! YOU ARE NOT AN AUTHORIZED ONE.</h2>
        </div>
    </div>
</body>
</html>
